{% extends "blogg/mall.html" %}
{% load crispy_forms_tags %}

{% block innehall %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Gå med i bloggen</legend>
            {{ formular|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Skapa konto</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Har de redan ett konto? <a class="ml-2" href="#">Logga in</a>
        </small>
    </div>
</div>
{% endblock innehall %}