{% extends 'blogg/mall.html' %}

{% block innehall %}
    <h1>Blogg hem :)</h1>
    {% for post in poster %}
    <article class="media content-section">
      <img class="rounded-circle account-img" src="{{post.forfattare.profil.image.url}}" alt="profilbild">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'post-anvandare' post.forfattare.username %}">{{ post.forfattare }}</a>
            <small class="text-muted">{{ post.datum_skapad|date:"d-m-Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'post-sida' post.id %}">{{ post.titel}}</a></h2>
          <p class="article-content">{{ post.innehall }}</p>
        </div>
      </article>
    {% endfor %}

    {% if is_paginated %}
      {% if page_obj.has_previous %}
        {% if page_obj.previous_page_number != 1 %}
          <a class="btn btn-outline-info mb-4" href="?page=1"><<</a>
        {% endif %}
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}"><</a>

      {% endif %}



      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">></a>
        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">>></a>
        {% endif %}
      {% endif %}
    {% endif %}

{% endblock innehall %}




